*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@media (max-width:1080px) {
    .container{
        height:auto;
        width:100%;
    }
    .smallcontainer{
        height:100vh;
        width:100vw;
    }
    .navbar img{
        width:60%;
    }
    .navbuttons button{
       width:30%;
    }
    #sign-in-btn{
        width:20%;
    }
    .hero-section{
        height:auto;
        width:100%;
    }
    .hero-box h2{
        font-size:3rem;
    }
    .hero-box p{
        font-size: 1.2rem;
    }
    .hero-btn{
        height:50px;
        width:35%;
    }
    #get-started-btn{
         height:50px;
        width:25%;
    }
    #fa-solid-rightangle{
        margin-left:5px;
    }
    .block2{
        height:auto;
        width:100%;
        flex-wrap:wrap;
        row-gap:40px;
    }
    .block2 img{
        width:30%;
        height:15%;
    }
    
    /* ----------section2----------------- */
    .video-section video{
        width:70%;
    }
    .overlapping img{
        width:70%;
    }
    .text-div h2{
        font-size: 2rem;
    }
    .text-div p{
        font-size: 1rem;
    }
    .section3{
        height:auto;
        width:100%
    }
    .video-section-2 img{
        width:70%;
    }
    .text-div-2 h2{
        font-size: 2rem;
    }
    .text-div-2 p{
        font-size:1rem;
    }

}

@media (max-width:768px){
    .navbuttons button{
        width:35%;
    }
    .sign-in-btn{
        width:25%;
    }
    .hero-box{
        margin-block:50px;
    }
    .hero-box h2{
        font-size:2rem;
    }
    .hero-buttons{
        height:auto;
        width:72%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap:10px;
    }
    #email-btn{
        width:100%;
    }
    #get-started-btn{
        width:50%;
    }
    .block3{
        height:auto;
        width:100%;
        flex-wrap:wrap;
    }
    .card{
        height:auto;
        width:100%;
    }
    .card:hover{
        border:1px solid white;
    }
    .section2{
        height:auto;
        width:85%;
        margin:auto;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap:20px;
    }
    .text-section{
        height:auto;
        width:100%;
    }
    .video-section{
        height:auto;
        width:100%;
        display:flex;
        justify-content: center;
    }
    .text-div{
        width:100%;
        font-size: 3rem;
      
    }
    .video-section video{
        width:100%;
    }
    .overlapping img{
        width:100%;
    }
    .section-3{
        height:auto;
        width:85%;
        margin:auto;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap:20px;        
    } 
    .video-section-2{
        width:100%;
    } 
    .video-section-2 img{
        width:100%;
    }
    .text-section-2{
        width:100%;
    } 
    .text-section-2 h2{
        font-size:2rem ;
    } 
}

@media (max-width:480px){

    .navlogo img{
        width:80%;
    }
    .navbuttons button{
        width:50%;
    }
    #sign-in-btn{
       width:40%;
    }
    
    .hero-box h2{
        font-size: 1.5rem;
    }
    .hero-box p{
        font-size:1rem;
        text-align:center;
        margin-inline:20px;
    }
    .hero-buttons{
        width:90%;
    }
    .card img{
        position:relative;
        left:70%;
    }
    .text-div h2{
        font-size: 1.5rem;
    }
    .text-div-2 h2{
        font-size: 1.5rem;
    }

}

   